.cluster-marker {
  color: #fff;
  background: orange;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crime-marker {
  background: none;
  border: none;
}

.crime-marker img {
  width: 25px;
}

.entete {
  margin: 2rem auto; 
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
}
